In [9]:
print("Olá")

Olá

![](py013.png)
# <font>Modelo para a análise do DataSet de Vacinas</font>
### <font>Observatório das Vacinas</font>
![](logo_observatorio.png)
<hr>

### 1 - Carregando as bibliotecas para uso

In [10]:
#Import de bibliotecas

#Pandas (Analise de Dados)
import pandas as pd 

#Numpy (Computação Científica)
import numpy as np
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#Matplotlib (Data Visualization)
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

### 2 - Informar a pasta (diretório) corrente

In [3]:
# Informa qual o diretório corrente
%pwd

'C:\\Users\\f07784494831\\Altair_Py013\\workshop_jupyter\\Agora_Estou_Aqui'

### 3 - "Setar' a pasta (diretório) de trabalho

In [75]:
# "Seta" o diretório alvo para trabalhar ou buscar dados
# Inclua aqui qual a pasta que sua base de dados estará
%cd C:\\Users\\f07784494831\\Altair_Py013\\workshop_jupyter\Agora_Estou_Aqui

C:\Users\f07784494831\Altair_Py013\workshop_jupyter\Agora_Estou_Aqui

### 4 - Carregando os dados para os nossos exemplos

In [85]:
#Carrega dados no dataset inicial 
df_vacinas = pd.read_csv('Vacinas_banco.csv', sep = ';', encoding = 'latin-1', low_memory=False)

In [77]:
#Tamanho do dataset
df_vacinas.shape

(1350, 29)

In [78]:
#Verifica a tipo das colunas do dataframe
df_vacinas.dtypes

COD                    int64
CODMUN7               object
Estado                object
ano                    int64
Nome                  object
CV_SCR1 (1 ano)       object
CV_SCR2 (15 meses)    object
Poprural              object
PopUrb                object
RDPC                  object
PEA                   object
PEA_A                 object
IDHM                  object
IDHM_E                object
IDHM_L                object
IDHM_R                object
T_ANALF18M            object
T_MED18M              object
T_SUPER25M            object
T_AGUA                object
T_BANAGUA             object
T_DENS                object
T_LIXO                object
T_LUZ                 object
AGUA_ESGOTO           object
POPDOMCHEFMULHERES    object
DENSDEMOG2010         object
PERC_NV_7CPN          object
CoberturaAB           object
dtype: object

In [62]:
df_vacinas.head(10)

,COD,CODMUN7,Estado,ano,Nome,CV_SCR1 (1 ano),CV_SCR2 (15 meses),Poprural,PopUrb,RDPC,...,T_AGUA,T_BANAGUA,T_DENS,T_LIXO,T_LUZ,AGUA_ESGOTO,POPDOMCHEFMULHERES,DENSDEMOG2010,PERC_NV_7CPN,CoberturaAB
0,110001,1100015,Rondonia,2016,Alta Floresta D'Oeste,"96,45","92,08","42,73","57,27","476,99",...,"93,69","80,2","22,58","94,05","93,98","9,31","26,92","3,45","67,18","80,93"
1,110002,1100023,Rondonia,2016,Ariquemes,"98,92","89,52","15,3","84,7","689,95",...,"98,54","85,35","27,15","96,72","98,58","11,4","32,63","20,41","72,62","61,92"
2,110003,1100031,Rondonia,2016,Cabixi,"109,64","77,11","57,34","42,66","457,17",...,"95,49","91,63","19,93","99,14","96,36","3,31","16,42","4,8","65,75",100
3,110004,1100049,Rondonia,2016,Cacoal,"99,18","82,32","21,19","78,81","738,06",...,"97,96","93,44","20,5","98,17","98,89","1,85","31,73","20,72","74,59","71,19"
4,110005,1100056,Rondonia,2016,Cerejeiras,"99,28","85,51","15,33","84,67","577,18",...,"97,53","86,87","16,66","91,89","98,85","5,34","39,97","6,12","76,81","95,91"
5,110006,1100064,Rondonia,2016,Colorado do Oeste,"134,94","100,8","26,54","73,46","535,41",...,"95,54","93,89","14,73","92,79","97,76","2,99","31,36","12,81","81,17","91,67"
6,110007,1100072,Rondonia,2016,Corumbiara,"119,82","110,81","70,51","29,49","402,15",...,"93,24","86,43","14,46","90,19","97,81","6,31","16,46","2,87","69,06",100
7,110008,1100080,Rondonia,2016,Costa Marques,"122,69","113,03","45,19","54,81","370,77",...,"95,67","54,32","36,18","79,35","90,13","36,41","31,36","2,74","62,44","65,4"
8,110009,1100098,Rondonia,2016,Espigao D'Oeste,"89,07","92,59","28,26","71,74","590,8",...,"93,7","84,71","19,97","91,07","96,7","7,66","33,4","6,36","63,58","74,57"
9,110010,1100106,Rondonia,2016,Guajara Mirim,"119,02","70,31","15,48","84,52","494,69",...,"93,26","49,32","43,4","90,41","97,71","36,84","38,35","1,68","35,29","81,38"

In [63]:
df_vacinas.head()

,COD,CODMUN7,Estado,ano,Nome,CV_SCR1 (1 ano),CV_SCR2 (15 meses),Poprural,PopUrb,RDPC,...,T_AGUA,T_BANAGUA,T_DENS,T_LIXO,T_LUZ,AGUA_ESGOTO,POPDOMCHEFMULHERES,DENSDEMOG2010,PERC_NV_7CPN,CoberturaAB
0,110001,1100015,Rondonia,2016,Alta Floresta D'Oeste,"96,45","92,08","42,73","57,27","476,99",...,"93,69","80,2","22,58","94,05","93,98","9,31","26,92","3,45","67,18","80,93"
1,110002,1100023,Rondonia,2016,Ariquemes,"98,92","89,52","15,3","84,7","689,95",...,"98,54","85,35","27,15","96,72","98,58","11,4","32,63","20,41","72,62","61,92"
2,110003,1100031,Rondonia,2016,Cabixi,"109,64","77,11","57,34","42,66","457,17",...,"95,49","91,63","19,93","99,14","96,36","3,31","16,42","4,8","65,75",100
3,110004,1100049,Rondonia,2016,Cacoal,"99,18","82,32","21,19","78,81","738,06",...,"97,96","93,44","20,5","98,17","98,89","1,85","31,73","20,72","74,59","71,19"
4,110005,1100056,Rondonia,2016,Cerejeiras,"99,28","85,51","15,33","84,67","577,18",...,"97,53","86,87","16,66","91,89","98,85","5,34","39,97","6,12","76,81","95,91"

### 5 - Conhecendo os dados

In [64]:
#Número de ocorrências por coluna
df_vacinas.count()

COD                   1350
CODMUN7               1350
Estado                1350
ano                   1350
Nome                  1350
CV_SCR1 (1 ano)       1350
CV_SCR2 (15 meses)    1350
Poprural              1350
PopUrb                1350
RDPC                  1350
PEA                   1350
PEA_A                 1350
IDHM                  1350
IDHM_E                1350
IDHM_L                1350
IDHM_R                1350
T_ANALF18M            1350
T_MED18M              1350
T_SUPER25M            1350
T_AGUA                1350
T_BANAGUA             1350
T_DENS                1350
T_LIXO                1350
T_LUZ                 1350
AGUA_ESGOTO           1350
POPDOMCHEFMULHERES    1350
DENSDEMOG2010         1350
PERC_NV_7CPN          1349
CoberturaAB           1350
dtype: int64

In [65]:
#Verificar se há valores nulos em uma coluna 
df_vacinas.PERC_NV_7CPN.isnull().values.any()

True

In [66]:
#Quantidade de valores nulos
df_vacinas.PERC_NV_7CPN.isnull().sum()

1

In [67]:
#Remover as colunas que não serão usadas para análises.
df_vacinas_novo = df_vacinas
# df_vacinas_novo = df_vacinas.drop(["T_ANALF18M", "CoberturaAB"], axis=1)

In [68]:
#Verifica a tipo das colunas do dataframe
df_vacinas_novo.dtypes

COD                    int64
CODMUN7               object
Estado                object
ano                    int64
Nome                  object
CV_SCR1 (1 ano)       object
CV_SCR2 (15 meses)    object
Poprural              object
PopUrb                object
RDPC                  object
PEA                   object
PEA_A                 object
IDHM                  object
IDHM_E                object
IDHM_L                object
IDHM_R                object
T_ANALF18M            object
T_MED18M              object
T_SUPER25M            object
T_AGUA                object
T_BANAGUA             object
T_DENS                object
T_LIXO                object
T_LUZ                 object
AGUA_ESGOTO           object
POPDOMCHEFMULHERES    object
DENSDEMOG2010         object
PERC_NV_7CPN          object
CoberturaAB           object
dtype: object

In [69]:
df_vacinas_novo.shape

(1350, 29)

In [70]:
#Converter a coluna para o tipo object
# df_vacinas_novo['ano'] = df_vacinas_novo['ano'].astype(int)
# df_vacinas_novo['COD'] = df_vacinas_novo['COD'].astype('object')

df_vacinas_novo['COD'] = df_vacinas_novo['COD'].astype(float)
df_vacinas_novo.dtypes

COD                   float64
CODMUN7                object
Estado                 object
ano                     int64
Nome                   object
CV_SCR1 (1 ano)        object
CV_SCR2 (15 meses)     object
Poprural               object
PopUrb                 object
RDPC                   object
PEA                    object
PEA_A                  object
IDHM                   object
IDHM_E                 object
IDHM_L                 object
IDHM_R                 object
T_ANALF18M             object
T_MED18M               object
T_SUPER25M             object
T_AGUA                 object
T_BANAGUA              object
T_DENS                 object
T_LIXO                 object
T_LUZ                  object
AGUA_ESGOTO            object
POPDOMCHEFMULHERES     object
DENSDEMOG2010          object
PERC_NV_7CPN           object
CoberturaAB            object
dtype: object

In [71]:
df_vacinas_novo.head(3)

,COD,CODMUN7,Estado,ano,Nome,CV_SCR1 (1 ano),CV_SCR2 (15 meses),Poprural,PopUrb,RDPC,...,T_AGUA,T_BANAGUA,T_DENS,T_LIXO,T_LUZ,AGUA_ESGOTO,POPDOMCHEFMULHERES,DENSDEMOG2010,PERC_NV_7CPN,CoberturaAB
0,110001.00,1100015,Rondonia,2016,Alta Floresta D'Oeste,"96,45","92,08","42,73","57,27","476,99",...,"93,69","80,2","22,58","94,05","93,98","9,31","26,92","3,45","67,18","80,93"
1,110002.00,1100023,Rondonia,2016,Ariquemes,"98,92","89,52","15,3","84,7","689,95",...,"98,54","85,35","27,15","96,72","98,58","11,4","32,63","20,41","72,62","61,92"
2,110003.00,1100031,Rondonia,2016,Cabixi,"109,64","77,11","57,34","42,66","457,17",...,"95,49","91,63","19,93","99,14","96,36","3,31","16,42","4,8","65,75",100

### 6 - Análises dos dados

In [83]:
# Quantidade de dados por estado
df_vacinas_UF = df_vacinas_novo.groupby(['Estado'])
total_UF = df_vacinas_UF.size()
total_UF.sort_values(ascending = False)

Estado
Para         432
Tocantins    417
amazonas     186
Rondonia     156
acre          66
Amapa         48
Roraima       45
dtype: int64

In [11]:
# Quantidade de dados por estado
df_vacinas_cidade = df_vacinas_novo.groupby(['Nome'])
total_cidade = df_vacinas_cidade.size()
df_vacinas_novo, total_cidade.sort_values(ascending = False)

NameError: name 'df_vacinas_novo' is not defined

In [87]:
# Quantidade de estados na base de dados
len(df_vacinas_UF.groups), "estados"

(7, 'estados')